html,body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0
}
.statistic{
    border: "1.3px solid black";
    border-radius: "5px";
}

.btn:hover{
    background-color: #1890ff !important;
    color: white !important;
}

.statistic:hover{
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
}

input {
    font-size: 16px;
    width: 100%;
    display: block;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none
  }
  
  input:focus {
    border: none;
    border-bottom: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 0 3px rgba(0, 126, 255, 0.1);
    outline: none;
  }
  
  input.error {
    border-color: red;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: .5rem;
  }
  
  .input-feedback {
    color: red;
    margin-top: .25rem;
    font-size: 16px;
  }
  
  button {
    max-width: 150px;
    margin: 20px 0;
    padding: 12px 20px;
    border-style: none;
    border-radius: 5px;
    background-color: #08c;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
  }
  
  button:disabled {
    opacity: .5;
    cursor: not-allowed !important;
  }
  
  button + button {
    margin-left: .5rem;
  }
  
  button.outline {
    background-color: #eee;
    border: 1px solid #aaa;
    color: #555;
  }



  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    background-image:    url("https://seeklogo.com/images/F/fpt-logo-5B8F17203A-seeklogo.com.png");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
  }

  .link{
    text-decoration: none !important;
  }

  .link :hover, :focus, :visited, :link, :active{
    text-decoration: none !important;
  }

  label{
    font-size: 18px;
    font-weight: 400;
  }

  .btn{
    border: 1px solid #ccc;
  }